ExifRead==3.5.1
affine==2.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
attrs==25.4.0
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
cligj==0.7.2
fastapi
fastapi==0.135.1
h11==0.16.0
idna==3.11
numpy
numpy==2.4.3
opencv-python
opencv-python==4.13.0.92
pillow==12.1.1
pydantic-settings==2.13.1
pydantic==2.12.5
pydantic_core==2.41.5
pyparsing==3.3.2
python-dotenv==1.2.2
python-multipart
python-multipart==0.0.22
rasterio==1.5.0
reportlab
reportlab==4.4.10
starlette==0.52.1
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn
uvicorn==0.42.0